CompileFlags:
  Add:
    - -Iinclude

---
If:
  PathMatch: .*\.(cpp|hpp)$
CompileFlags:
  Add:
    - -std=c++26

---
If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add:
    - -std=c23
    - -DNETKIT_TARGET_CPU=1
